.DS_Store
.env
.yarn/
*.tgz
*/.DS_Store
auth_info*.json
wakit_auth_info*
wakit_store*.json
browser-messages.json
browser-token.json
decoded-ws.json
docs
!docs/
docs/*
!docs/*.md
!docs/index.html
!docs/404.html
!docs/.nojekyll
lib
messages*.json
node_modules
output.csv
Proxy
test.ts
TestData
wa-logs*
coverage
